@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
	font-family: "Open Sans", sans-serif;
}

:root {
	--green: #4ba507;
	--red: #c50606;
	--blue: #0089ff;
	--dark-grey: #4c4c4c;
	--grey: #9e9e9e;
}

html {
	scroll-behavior: smooth;
}

html,
body,
main {
	width: 100%;
	height: 100%;
}

body,
main,
nav,
#content_area,
form,
#chat_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #ebebeb;
}

[hidden] {
	display: none !important;
}

#title {
	margin: 2rem 0;
}

.nav_button {
	width: calc(100% / 3 - 0.25rem);
	box-shadow: none;
}

main {
	background-color: #f6f6f6;
	width: 100%;
	height: 100%;
	max-height: 812px;
	max-width: 375px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 0.5rem solid #ddd;
	border-radius: 1.75rem;
	overflow: hidden;
}

nav {
	flex-direction: row;
	justify-content: space-between;
	background-color: #ebebeb;
	width: 100%;
	height: 10%;
	padding: 0 1rem;
}

nav button {
	/* margin: 0 .5rem 0 0; */
}

.nav_end {
	width: 42px;
	pointer-events: none;
}

#nav_title {
	font-size: 1.25rem;
	margin-left: calc(50% -26px);
}

#content_area {
	width: 100%;
	height: 90%;
}

form {
	display: none;
	width: 100%;
}

select {
	width: 100%;
	padding: 1.5rem;
	height: 50%;
}

select option {
	margin: 0 !important;
	height: 20%;
	display: flex;
	align-items: center;
}

.prompt_form * {
	margin: 0.5rem 0;
}

.prompt_form {
	height: 100%;
	justify-content: flex-start;
	overflow-y: scroll;
}

button,
input,
textarea {
	background-color: white;
	padding: 0.75rem 1rem;
	border-radius: 0.25rem;
	box-shadow: -2px 2px 4px #c5c5c5;
}

textarea {
	width: clamp(201px, 201px, 201px) !important;
	height: fit-content !important;
	min-height: 150px !important;
}

button {
	background-color: var(--dark-grey);
	color: white;
	cursor: pointer;
}

button[disabled] {
	background-color: var(--grey) !important;
}

form button {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

button.green-btn {
	background-color: var(--green);
}

button.red-btn {
	background-color: var(--red);
}

button.blue-btn {
	background-color: var(--blue);
}

#back_button {
	display: none;
}

/* User forms */

#browse_profiles_list,
#recent_chat_list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Brose Profile Form */

#recent_chat_list .user {
	display: flex;
	flex-direction: row-reverse;
	height: 4rem;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	background-color: white;
	cursor: pointer;
}

#recent_chat_list .user_thumb {
	height: 100%;
	width: 4rem;
	margin: 0 1rem 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--grey);
}

/* Browse User Form */

#browse_profiles_list {
	padding: 1rem;
}

#browse_profiles_list .user {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	cursor: pointer;
	border-radius: 1rem;
	overflow: hidden;
}

#browse_profiles_list .user * {
	margin: 0;
}

#browse_profiles_list .user_thumb {
	height: 100%;
	width: 4rem;
	margin: 0 1rem 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--grey);
}

#browse_profiles_list .user_top {
	display: flex;
	justify-content: flex-end;
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding: 1rem;
	font-size: 2rem;
	flex-direction: column;
	text-shadow: 2px 2px black;
}

#browse_profiles_list .user_btm {
	display: flex;
	flex-direction: column;
	background-color: white;
}

#browse_profiles_list iframe {
	height: 5rem;
}

/* Chat Form */

#chat_form {
	height: 100%;
}

#chat_box {
	width: 100%;
	height: 92%;
	overflow-y: scroll;
	overflow-x: hidden;
	justify-content: flex-start;
	padding: 1rem;
}

.from_me {
	align-self: flex-end;
	border-radius: 0.5rem 0.5rem 0 0.5rem;
	background-color: black;
	color: white;
}

.from_them {
	align-self: flex-start;
	border-radius: 0.5rem 0.5rem 0.5rem 0;
	background-color: white;
	color: black;
}

#chat_controls {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	justify-content: space-between;
	width: 100%;
	height: 8%;
}

#chat_controls * {
	box-shadow: none;
	border-radius: 0;
}

input#message_input {
	border: 0.5rem 0 0 0.5rem !important;
	width: 70%;
	padding-left: 1.25rem;
	overflow-y: hidden;
}

button#send_button {
	width: 30%;
}

.message {
	padding: 1rem;
	box-shadow: -2px 2px 4px #c5c5c5;
	margin-bottom: 0.5rem;
	max-width: 80%;
}

.time {
	font-size: 12px;
	margin-top: 0.2rem;
	font-style: italic;
}

.message:last-of-type {
	margin-bottom: 0;
}

#status {
	margin: 2rem auto;
	height: 1.5rem;
	width: 100%;
	text-align: center;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

/* Profile */

#profile_button {
	display: none;
}

#profile_view_form {
	height: 100%;
	overflow-y: scroll;
	flex-direction: column;
	justify-content: flex-start;
}

.profile_section {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

#profile_stats {
	height: fit-content;
}

#profile_top {
	justify-content: space-between;
	align-items: center;
	height: fit-content;
}

#profile_top * {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0.25rem 0;
}

#profile_btm {
	padding: 1rem;
}

.stat_li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5rem;
	justify-content: space-between;
	padding: 0.75rem;
	/* background-color: #ebebeb; */
	border-bottom: 1px #ebebeb solid;
}

.stat_li:last-of-type {
	margin-bottom: 0;
	border: none;
}

.stat_vertical {
	flex-direction: column;
}

.stat_vertical .stat_label {
	margin-bottom: 1rem;
}

#stat_pp {
	width: clamp(40%, 40%, 40%);
	border-radius: 0.5rem;
}

.pp_thumb_wrap {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.pp_thumb_wrap img,
#pp_input {
	width: 50%;
}

#pp_change_button {
	padding: 0 1rem;
}

#pp_input {
	background-color: #00000000 !important;
	box-shadow: none;
	height: fit-content;
}

#blocked_users_wrap {
	display: none;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

/* Checkbox on form */

.checkboxes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 2rem;
}

.checkboxes span {
	background-color: white;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	box-shadow: -2px 2px 4px #c5c5c5;
	width: 201px;
}

.lf_checkbox {
	margin-right: 0.5rem;
	pointer-events: none;
}

/* Player */

#anthem_wrap {
	margin: 0 !important;
	width: 100%;
	align-items: flex-start;
}

#profile_view_form iframe {
	height: 5rem;
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	margin: 0 !important;
}

#stat_anthem_label {
	font-weight: bold;
	margin-left: 1rem;
}

#sign_up_form {
	overflow-y: scroll;
	justify-content: flex-start;
}

#sign_up_form select {
	border-radius: 0.25rem;
	padding: 9px 0.75rem;
	width: 201px;
	box-shadow: -2px 2px 4px #c5c5c5;
	background-color: white;
}

#school_input option {
	padding: 1rem 0;
}

.row {
	display: flex;
	flex-direction: row !important;
	width: 100%;
	justify-content: space-evenly;
}

/* Modals */

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	background-color: #00000095;
	width: 100vw;
	height: 100vh;
}

.modal_common {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
}

.modal_common > * {
	margin-bottom: 0.5rem;
	width: 100%;
}

.modal_common > *:last-of-type {
	margin-bottom: 0;
}

#profile_options_button {
	display: none;
	/* Default */
}

#modal_match_options {
	display: none;
	/* Default */
	width: 20rem;
}

#search_results {
	padding: 0 1rem;
	margin: 0;
}

.track {
	display: grid;
	grid-template-columns: 30fr 70fr;
	justify-items: start;
	justify-content: start;
	border-bottom: 1px solid dimgrey;
	padding: 0.5rem 0;
	margin: 0;
	cursor: grab;
}

.track img,
.track_info {
	margin: 0;
}

.track h3 {
	margin: 0;
	color: darkmagenta;
}

.track h5 {
	font-size: 0.75rem;
	color: dimgrey;
}

.selected_anthem {
	background-color: lightgrey;
}
