@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    /* color: #7e7e7e; */
}

html, body, main {
    width: 100%;
    height: 100%;
}

body, main, nav, #content_area, form, #chat_box  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ebebeb;
}

main {
    background-color: #f6f6f6;
    width: 100%;
    height: 36rem;
    overflow-y: scroll;
    overflow-x: hidden;

    border: .5rem solid #ddd;
    border-radius: 1.75rem;
    overflow: hidden;
    max-width: 20rem;
}

nav {
    flex-direction: row;
    justify-content: flex-start;
    background-color:#ebebeb;
    width: 100%;
    height: 10%;
    padding: 0 1rem;
}

nav button {
    margin: 0 .5rem 0 0;
}

#title {
    align-self: center;
}

#content_area {
    width: 100%;
    height: 90%;
}

form {
    display: none;
    width: 100%;
}

select {
    width: 100%;
    padding: 1.5rem;
}

.prompt_form * {
    margin: .5rem 0;
}

#login_form {
    display: flex;
}

button, input {
    background-color: white;
    padding: .75rem 1rem;
    border-radius: .25rem;
    box-shadow: -2px 2px 4px #c5c5c5;
}

button {
    background-color: #7e7e7e;
    color: white;
}

form button {
    background-color: rgb(108, 162, 0);
}

/* Chat Form */

#chat_form {
    height: 100%;
}

#chat_box {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    padding: 1rem;
}

.from_me {
    align-self: flex-end;
    border-radius: .5rem .5rem 0 .5rem;
    background-color: black;
    color: white;
}

.from_them {
    align-self: flex-start;
    border-radius: .5rem .5rem .5rem 0;
    background-color: white;
    color: black;
}

#chat_controls {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 8%;
}

#chat_controls * {
    box-shadow: none;
    border-radius: 0;
}

input#message_input {
    border: .5rem 0 0 .5rem !important;
    width: 75%;
    padding-left: 1.25rem;
}

button#send_button {
    width: 25%;
}

.message {
    padding: 1rem;
    box-shadow: -2px 2px 4px #c5c5c5;
    margin-bottom: .5rem;
}

.message:last-of-type {
    margin-bottom: 0;
}


#status {
    margin-top: 2rem;
}